.Anger {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: 18px;
}
.Disgust {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    color: rgb(107, 165, 146)
}
.Fear {
    font-family:'Times New Roman', Times, serif ;
    color: #cc00ff;
    font-size: 12px;
}
.Joy {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: yellow;
    font-size: 14px;
}
.Sadness {
    font-family: 'Courier New', Courier, monospace ;
    color: blue;
    font-size: 10px;
}

#textReturn {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
}